@model IEnumerable<KeeTalk.Models.ChatRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card" style="background-color:@Html.DisplayFor(modelItem => item.Color)">
                <img class="card-img-top p-1" src="@("images/"+ item.ImageName)" alt="Card image cap">
                <div class="card-body col text-center">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a asp-action="Index" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-primary">Enter room</a>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    @if (item.Creator == User.Identity.Name)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @: |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> @: |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </div>
        }
    </div>
    <a asp-action="Create" class="float bg-primary">
        <i class="fas fa-plus my-float"></i>
    </a>
</div>



