@model IEnumerable<KeeTalk.Models.Thread>

@{
    ViewData["Title"] = "Threads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container bg-light mt-5 p-3">
    <div class="row">
        <div class="col">
            <p class="display-4">Threads</p>
        </div>
        <div class="col text-right">
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <a class="btn btn-light" asp-action="Create">Create New Thread</a>
                </p>
            }
        </div>
    </div>

    @foreach (var item in Model)
    {
        <a class="text-decoration-none text-body" asp-route-id="@item.Id" asp-route-section="@item.Section">
            <div class="card flex-row flex-wrap mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <div class="card-body">
                                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                            </div>
                        </div>
                        <div class="card-header col-2">
                            <div class="border-0 image_name float-right">
                                <b>Last post:</b>
                                <img src="/images/profileImages/@Html.DisplayFor(modelItem => item.LastCommentAuthorImage)" class="img-thumbnail rounded-circle" />
                                <b>@Html.DisplayFor(modelItem => item.LastCommentAuthor)</b>
                                <p>@Html.DisplayFor(modelItem => item.LastCommentDate)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-black-50">
                    Started by @Html.DisplayFor(modelItem => item.Creator), @Html.DisplayFor(modelItem => item.StartDate)
                </div>
            </div>
        </a>

    }
</div>