@model KeeTalk.Models.ChatRoomMultipleModel
<div id="chat_window" class="card-body msg_card_body">
    @foreach (var item in Model.Messages)
    {
        if (item.AuthorName == User.Identity.Name)
        {
            <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                    <h4>@Html.DisplayFor(modelItem => item.AuthorName)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <span class="msg_time_send text-black-50">@Html.DisplayFor(modelItem => item.Date)</span>
                </div>
                <div class="img_cont_msg">
                    <img src="@("/images/profileImages/"+ item.AuthorProfileImage)" class="rounded-circle user_img_msg">
                </div>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    <img src="@("/images/profileImages/"+ item.AuthorProfileImage)" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    <h4>@Html.DisplayFor(modelItem => item.AuthorName)</h4>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <span class="msg_time text-black-50">@Html.DisplayFor(modelItem => item.Date)</span>
                </div>
            </div>
        }

    }

</div>