@model IEnumerable<KeeTalk.Models.Message>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script>
        function clearText() {
            document.getElementById("content_text").textContent = "";
        }
        document.addEventListener("DOMContentLoaded", function () {
            var objDiv = document.getElementById("chat_window");
            objDiv.scrollTop = objDiv.scrollHeight;
        });

    </script>
</head>
<body onload="clearText()">
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-10 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://bibliotekant.pl/wp-content/uploads/2021/04/placeholder-image-768x576.png" class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>Chat name</span>
                            </div>
                        </div>
                    </div>
                    <div id="chat_window"class="card-body msg_card_body">

                        @foreach (var item in Model)
                        {
                            if (item.Author == "das")
                            {
                                <div class="d-flex justify-content-start mb-4">
                                    <div class="img_cont_msg">
                                        <img src="https://bibliotekant.pl/wp-content/uploads/2021/04/placeholder-image-768x576.png" class="rounded-circle user_img_msg">
                                    </div>
                                    <div class="msg_cotainer">
                                        <h4>@Html.DisplayFor(modelItem => item.Author)</h4>
                                        @Html.DisplayFor(modelItem => item.Content)
                                        <span class="msg_time">@Html.DisplayFor(modelItem => item.Date)</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        <h4>@Html.DisplayFor(modelItem => item.Author)</h4>
                                        @Html.DisplayFor(modelItem => item.Content)
                                        <span class="msg_time_send">@Html.DisplayFor(modelItem => item.Date)</span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="https://bibliotekant.pl/wp-content/uploads/2021/04/placeholder-image-768x576.png" class="rounded-circle user_img_msg">
                                    </div>
                                </div>
                            }

                        }

                    </div>
                    <form asp-action="Create">
                        <div class="card-footer">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                </div>
                                <textarea id="content_text" asp-for="@Model.FirstOrDefault().Content" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                <span asp-validation-for="@Model.FirstOrDefault().Content" class="text-danger"></span>
                                <div class="input-group-append">
                                    <input type="submit" value="Send" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}